<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Fish List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let fi of fish" text-wrap>
      <ion-icon name="fish" slot="start"></ion-icon>
      <ion-label text-wrap>{{fi.name}}</ion-label>
      <ion-note slot="end">{{fi.weight}}</ion-note>
    </ion-item>
  </ion-list>
  <ion-item>
    <ion-label position="floating">Data</ion-label>
    <ion-input type="text" [(ngModel)]="textData"></ion-input>
    <ion-button color="primary" class="ion-float-right" (click)="passData()">
      <ion-icon slot="start" name="sync"></ion-icon> Return data
    </ion-button>
  </ion-item>
</ion-content>
